@font-face {
  font-family: "figtree";
  src: url(./assets/fonts/static/Figtree-Medium.ttf),
    url(./assets/fonts/static/Figtree-ExtraBold.ttf),
    url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf),
    url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --header-color: hsl(0, 0%, 7%);

  /* spacing */
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

p {
  margin: 0px;
}

body {
  background-color: var(--yellow);
  font-family: "figtree";
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

article {
  max-width: 384px;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  padding: var(--spacing-300);
  border: 2px solid var(--gray-950);
  box-shadow: var(--gray-950) 10px 10px;
  transition: all 0.5s ease-out;
}

article:hover {
  h1 {
    color: var(--yellow);
  }

  box-shadow: var(--gray-950) 15px 15px;
}

.rights {
  font-size: 14px;
  margin-bottom: var(--spacing-150);
}

.text-preset-3 {
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 800;
}

h1 {
  font-size: 24px;
  margin-bottom: var(--spacing-150);
  color: var;
  transition: all 0.5s ease-out;
}

.description {
  color: var(--gray-500);
  margin-bottom: var(--spacing-300);
  line-height: 150%;
}

.article-logo {
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

.badge {
  margin-bottom: var(--spacing-150);
  background-color: var(--yellow);
  border-radius: 4px;
  display: inline-block;
  color: var(--gray-950);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  padding: var(--spacing-50) var(--spacing-150);
}

.card-footer {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: var(--spacing-150);
}

/* media queries */
@media (max-width: 800px) {
  .description {
    font-size: 14px;
  }
}
